

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 900vh;
}

header {
    background-color: 2px yellow;
}
nav.MenuLateral {
    width: 80px;
    height: 100%;
    background-color: green;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 blue;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.MenuLateral.expandir {
    width: 300px;
}

div.MenuLateral {
    width: 100%;
    padding-left: 10px;
}

div.MenuLateral > i {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.ItemMenu {
    transition: .2s;
}

ul li.ativo {
    background-color: blue;
}

ul li.ItemMenu:hover {
    background: blue;
}

ul li.ItemMenu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.ItemMenu a .text-link {
    margin-left: 40px;
    transition: 1s;
    opacity: 0;
}

nav.MenuLateral.expandir .text-link {
    margin-left: 70px;
    opacity: 1;
}

ul li.ItemMenu a .Icon {
    font-size: 30px;
    margin-left: 10px;
}

#index {
    background-color: yellow;
}

#titulo {
    text-align: center;
    color: blue;
}

#cfun {
    border: 2px black;
}
#apresentacao {
    color: firebrick;
    text-shadow: 10px;
    background-color: black;
}